<body>
  <div class="content">
    <div class="row">
      <div class="col-sm one">
        <div class="title">The Readlings Game</div>
        <div class="intro">Welcome!</div>
        <div class="intro">Here you can show us your abilities and improve them at the same time</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm twp">
        <button (click)="goToChallenges()" type="button" class="btn-start challenge">Challenges</button>
      </div>
      <div class="col-sm twp">
        <button (click)="start()" type="button" class="btn-start game">Start Game</button>
      </div>
    </div>
  </div>
</body>