:host {
    body {
        font-family: 'Berlin Sans FB', sans-serif;
        font-size: 20px;
    }

    .mat-radio-button {
        font-family: 'Berlin Sans FB';
    }

    .age{
        width: 400px;
        height: 400px;
        text-align: center;
    }

    .first {
        width: 1000px;
        height: 400px;
        text-align: center;
    }

    .second {
        width: 400px;
        height: 200px;
        text-align: center;
    }

    .mat-radio-group {
        display: grid;
        grid-template-columns: 1px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .btn-read {
        width: 100px;
        height: 40px;
        border-radius: 7px;
        font-family: 'Berlin Sans FB', sans-serif;
        font-size: 13px;

        box-shadow: 0px 10px 12px 1px #5a5b69;
        color: #f0e5e5;
        background-color: #5a5b69;
        border-color: white;

        margin-top: 60px;
    }

    .btn-second {
        width: 100px;
        height: 40px;
        border-radius: 7px;
        font-family: 'Berlin Sans FB', sans-serif;
        font-size: 13px;

        box-shadow: 0px 10px 12px 1px #5a5b69;
        color: #f0e5e5;
        background-color: #5a5b69;
        border-color: white;

        margin-top: 60px;
    }

    .full-width {
        width: 100%;
        height: 50px;

        margin-top: 60px;
        font-family: 'Berlin Sans FB', sans-serif;
      }
}