:host {
    
    .coloring{
         color: rgb(31, 197, 67);
      }

    .highlight{
        background-color: rgb(206, 54, 54);
      }

      .square{
        border: 2px solid rgb(31, 197, 67);


      .underlining{     
       text-decoration: underline;
    }

    .bold{     
       font-weight: bold;
     }

     .italText{  
        font-style: italic;
      }

      .slide {
        animation-name: slidein;
      }
      
      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%;
        }
      
        to {
          margin-left: -10%;
          width: 100%;
        }
      }

      .navbar-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .text-format{
        white-space: pre-wrap;
        overflow-wrap: break-word;
      }

      .btn-read {
        width: 100px;
        height: 40px;
        border-radius: 5px;
        font-family: 'Berlin Sans FB', sans-serif;
        font-size: 13px;
      
        color:#f0e5e5;
        background-color: #5a5b69;
        border-color: white;
      
        margin-left: 40%;
        margin-bottom: 20px;
      }

      .text-container {
        border: 1px solid black;
        padding: 20px;
        margin-top: 50px;

        font-family: 'Berlin Sans FB', sans-serif;
        font-size: 20px;
      }

      .reading-container {
        width: 40%;
        height: 70%;
        margin: auto;
      
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
      }

      .info {
        font-family: 'Berlin Sans FB', sans-serif;
        font-size: 20px;
        text-align: center;
      }
}