:host {

  body {
    width: 100%;
    margin: 0;
  }

  .content { 
    height: 100%;
    margin: 0;
  }

  .row {
    height: 100%;
    margin: 0;
  }

  .one {
    height: 100%;
    background-color: white;
  }

  .two {
    height: 100%;
    background-color: white;
  }

  .navbar-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .btn.menu.middle{
    width: 30px;
    height: 30px;
    border-radius: 2em;

    font-family: 'Berlin Sans FB';
    font-size: 10px;

    color: #f0e5e5;
    background-color: #5a5b69;
    border-color: white;

    margin: 0 auto;
    margin-top: 80px;
    position: absolute;
  }


  .menu-icon {
    font-size: 10px;
    position: relative;
    left: -10px;
    top: 2px;
  }

  .attention-square {
    height: 400px;
    width: 400px;
    border: 5px solid rgb(117, 53, 53);

    margin: auto;
    margin-top: 200px;
  }

  .flick {
    background-color: rgb(117, 53, 53);
  }

  .btn-control {
    margin-left: 400px;
  }

  .btn-attention {
    width: 100px;
    height: 40px;
    border-radius: 7px;
    font-family: 'Berlin Sans FB', sans-serif;
    font-size: 13px;

    box-shadow: 0px 10px 12px 1px #5a5b69;
    color: #f0e5e5;
    background-color: #5a5b69;
    border-color: white;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  .btn-read {
    width: 100px;
    height: 40px;
    border-radius: 7px;
    font-family: 'Berlin Sans FB', sans-serif;
    font-size: 13px;

    box-shadow: 0px 10px 12px 1px #5a5b69;
    color: #f0e5e5;
    background-color: #5a5b69;
    border-color: white;

    margin-top: 20px;
    margin-left: 45%;
    margin-bottom: 20px;
  }

  .text-container {
    border: 1px solid black;
    padding: 20px;

    font-family: 'Berlin Sans FB', sans-serif;
    font-size: 20px;

    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .reading-container {
    width: 40%;
    height: 70%;
    margin: auto;
    margin-top: 50px;
  }

  .radiogroup-intro-first {
    margin-left: 200px;
    margin-top: 200px; 
    font-size: 30px;
  }

  .radiogroup-intro-second {
    width: 600px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 160px;

    padding: 10px;

    border: 10px solid #5a5b69;
    border-radius: 7px;
    box-shadow: 0px 10px 12px 1px #5a5b69;
    background-color: #5a5b69;

    color: #afafaf;
    text-align: center;
    padding: 15px;
  }

  .radiogroup-intro-third {
    width: 600px;
    margin: auto;
    margin-top: 50px;

    padding: 10px;

    border: 10px solid #5a5b69;
    border-radius: 7px;
    box-shadow: 0px 10px 12px 1px #5a5b69;
    background-color: #5a5b69;

    color: #afafaf;
    text-align: center;
    padding: 15px;
  }
}