:host {
  body {
    width: 100%;
    margin: 0;
  }

  .content {
    width: 700px;

    margin: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    font-family: 'Berlin Sans FB';
    font-size: 20px;
  }

  .navbar-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .mat-expansion-panel-header {
    font-family: 'Berlin Sans FB';
    font-size: 15px;
  }

  .mat-action-row {
    height: 150px;

    font-family: 'Berlin Sans FB';
    font-size: 15px;
  }

  .mat-radio-group {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin-bottom: 10px;
  }

  .mat-radio-button {
    margin-top: 10px;
    font-family: 'Berlin Sans FB';
  }

  .btn.move {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 10px 12px 1px #5a5b69;
    margin-top: 80px;
    margin-left: 15px;
    margin: auto;

    font-family: 'Berlin Sans FB';
    font-size: 10px;

    color: #f0e5e5;
    background-color: #5a5b69;
    border-color: white;
  }

  .intro {
    width: 700px;
    margin-bottom: 80px;

    border: 10px solid #5a5b69;
    border-radius: 7px;
    box-shadow: 0px 10px 12px 1px #5a5b69;
    background-color: #5a5b69;

    color: #afafaf;
    text-align: center;
    padding: 15px;
  }
}